* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}


body {
  font-family: "Inter", sans-serif;
}

aside {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0px;
  
  flex-shrink: 0;

  height: 100vh;
}
aside > div {
  height: 100vh;
  /*
  padding: 10px;
  */
}
.filtres, .filtres_panneaux {
  /*
  margin-top: 60px;
  margin-bottom: 20px;
  */
}

main {
  flex: 1;
  /* max-width: 1200px !important; */
}



input {
  margin: 0px 6px 0px 0px;
  -ms-transform: scale(.8); /* IE */
  -moz-transform: scale(.8); /* FF */
  -webkit-transform: scale(.8); /* Safari and Chrome */
  -o-transform: scale(.8); /* Opera */
}



/* TYPO */

a {
  text-decoration: none;
  color: blue;
}

h1 a {
  font-size: 1.5rem;
  color: black;
}

h2 {
  font-size: 1.2rem;
}

header h3 {
  margin-top: 15px;

  color: #4705b4;
}
header h3, p {
  font-size: 1rem;
}


aside #login {
  font-size: 0.75rem;
  color: #4705b4;
}
aside h4 {
  /*margin-top: 5px;*/

  font-size: 0.75rem;
  color: #c56f00;
}

.filtres label {
  display: block;

  margin-top: 5px;

  font-size: 0.75rem;
  color: #4705b4;

  cursor: pointer;
}

.filtres_panneaux label {
  display: block;

  margin-top: 5px;

  font-size: 0.75rem;
  color: #4705b4;
}

article a, header a {
  text-decoration: underline;
  color: black;
  /*font-size: 0.75rem;*/
}
article h4 {
  /*margin-top: 10px;*/
  font-size: 0.75rem;
}


/* MULTILINGUE */

.languages {
  margin-bottom: 60px;
}
.languages a {
  padding: 1px 2px 1px 2px;
  margin-right: 0px;

  border: 1px solid #161719;
  
  font-size: 12px;
  color: #161719;
}
.languages a.active {
  background: #161719;
  color: white;
}


/* SWITCHER */

.switcher {
  display: flex;
}
.switcher * {
  display: block;

  /*
  padding: 2px 4px 1px 2px;
  margin: 5px 7px 5px 0px;
  */

  border: 1px solid #161719;

  font-size: 12px;
  color: #161719;

  cursor: pointer;
}
.switcher *.active {
  background: #161719;
  color: white;
}

/* BUTTON */

.button {
  display: block;  
    
  font-size: 12px;
  cursor: pointer;

  background: #161719;
  color: white;
  border: none;
}

/* DETAILS / SUMMARY */

/*
  https://freefrontend.com/html-details-summary-css/
  https://codepen.io/jdsteinbach/pen/GYmQjo
*/
details {
  /* margin: 0px 40px 40px 40px; */
  position: relative;
}

details[open] {
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.3);
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

details summary {
  border-bottom: 1px solid black;
}
details[open] summary {
  border: none;
}

summary {
  display: block;
  position: relative;
  cursor: pointer;
  /*padding: 1rem;*/
}
/* signe fermé/ouvert */
summary::before, summary::after {
  width: 0.75em;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 1rem;
  content: '';
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}
summary::after {
  transform: translateY(-50%) rotate(90deg);
}
[open] summary::after {
  transform: translateY(-50%) rotate(180deg);
}
summary::-webkit-details-marker {
  display: none;
}



.residence summary {

  position: relative;

  color: black;
}
.residence article {
  /*margin: 40px;*/
  overflow-wrap: break-word;
}
.residence ul {
  list-style-position: inside;
  padding-left: 10px;
}
.residence a {
  color: black;
}
.residence summary > div {
  /*width: 50%;*/
}
.tags_container {
  /*width: 35%;*/
  font-size: 12px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.tags_container.lieux {
  width: 15%;
}
.tags_container span {
  /* border: 1px solid black; */
  /*
  padding: 3px 5px 3px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  */
}
.tags_container span.active {
  text-decoration: underline;
  color: #4705b4;
}

#res_list.filtered .residence:not(.selected), #mapid.filtered .leaflet-marker-icon:not(.selected) {
  display: none;
}

#res_list .sorry {
  display: none;

  position: relative;
  z-index: 10;

  width: max-content;
  width: -moz-max-content;
  margin: auto;
  padding: 10px;

  border: 1px solid black;
  color: black;
  background: white;
}
#res_list .sorry.visible {
  display: block;
}


/* --- IMAGES --- */

img {
  width: 100%;
  display: block;
}



/* --- HEADER --- */

header {
  /* margin: 0px 40px 40px 40px; */
}

header p {
  margin-bottom: 15px;
}

/* --- FOOTER --- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-top: 50px;*/
}
footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer ul li {
  list-style: none;
  margin-right: 50px;
  margin-bottom: 2rem;
}
footer img {
  max-width: 100%;
  max-height: 40px;
}





@media only screen and (min-width : 0px) and (max-width : 576px) {

aside {
  position: static !important;
}
aside, aside > div {
  height: auto;
}


/* --- FOOTER --- */

footer {
  flex-direction: column;
  margin-bottom: 2rem;
}
footer ul {
  margin-bottom: 10px;
}

}

@media only screen and (min-width : 577px) and (max-width : 768px) {

aside {
  position: static !important;
}
aside, aside > div {
  height: auto;
}

/* --- FOOTER --- */

footer {
  flex-direction: column;
  margin-bottom: 2rem;
}
footer ul {
  margin-bottom: 10px;
}

}





@media only screen and (min-width : 768px) {
aside {
  max-width: 200px !important;
}
}










@media only screen and (min-width : 769px) and (max-width : 1024px) {

}

@media only screen and (min-width : 1025px) and (max-width : 1300px) {

}

@media only screen and (min-width : 1301px) and (max-width : 1824px){

}

/* Large screens ----------- */
@media only screen and (min-width : 1825px) and (max-width : 2560px) {

}

/* Large screens ----------- */
@media only screen and (min-width : 2561px) {

}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 481px) and (max-device-width : 750px) and (orientation : landscape) {
}

@media only screen and (min-width : 481px) {

}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1030px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}


















