#mapid {
  position: fixed;

  width: calc(100vw - 200px);
  height: 100vh;
  left: 100vw;
  top: 0px;

  transition:all cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
  -webkit-transition:all cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
}

#mapid.visible {
  transform:translateX(calc(200px - 100vw));
}